.footer-bottom {
   &__body {
      // min-width: 768px
      @include _Tablet {
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 20px;
      }

      // min-width: 992px
      @include _Laptop {
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__list {
      display: inline-grid;
      gap: 10px;

      // min-width: 768px
      @include _Tablet {
      }

      // min-width: 992px
      @include _Laptop {
         grid-template-columns: 1fr 1fr;
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__item {
      font-weight: 300;
      font-size: rem(14);
      line-height: 140%;
      text-decoration: none;
      color: cl("black");
   }

   &__developer {
      margin-top: 10px;
      font-size: rem(14);
      font-weight: 500;
      line-height: 140%;

      // min-width: 768px
      @include _Tablet {
         margin-top: 0;
      }

      // min-width: 992px
      @include _Laptop {
         display: flex;
         justify-content: flex-end;
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__developer-link {
      color: cl("green");
      text-decoration: none;
   }
}
