// .header {
//    position: fixed;
//    width: 100%;
//    z-index: $headerIndex;

//    // min-width: 768px
//    @include _Tablet {
//    }

//    // min-width: 992px
//    @include _Laptop {
//    }

//    // min-width: 1200px
//    @include _Desktop {
//    }

//    // min-width: 1400px
//    @include _LDesktop {
//    }
// }

body {
}

.header {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: 200;
   &__body {
      position: relative;
   }

   &__top {
   }

   &__middle {
   }
}

.main-nav {
   position: absolute;
   top: 60%;
   left: 0;
   right: 0;
   z-index: 100;
   @include _Tablet {
      top: 100%;
   }

   @include _Desktop {
      position: static;
   }
   &__body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @include _Tablet {
         top: 100%;
         flex-direction: row;
         justify-content: flex-end;
         gap: 20px;
      }

      @include _Desktop {
         flex-direction: column;
      }
   }
   &__menu {
      @include _Tablet {
         order: 2;
      }

      @include _Desktop {
         order: 0;
      }
   }

   &__catalog {
   }
}
.main-nav__catalog {
   display: none;
}
.main-nav__catalog.active {
   display: block;
}

.header-top {
   display: none;

   @include _Tablet {
      display: block;
   }

   @include _Desktop {
      display: none;
   }

   &__body {
      padding: 20px 0 10px;
      display: flex;
      justify-content: space-between;
   }

   &__left {
   }

   &__right {
      display: flex;
      gap: 30px;
   }

   &__operating-mode {
   }

   &__contacts {
      display: flex;
      gap: 10px;
      flex-direction: column;
      & .social-media__list {
         gap: 10px;
      }
   }

   &__social-media {
   }

   &__button {
   }
}

.header-phone {
   display: block;
   font-weight: 700;
   font-size: rem(14);
   color: cl("red");
   text-decoration: underline;
}

.header-middle {
   &__body {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      @include _Desktop {
         padding: 30px 0;
      }
   }

   &__logo {
      display: flex;
      align-items: center;
      gap: 16px;

      & .logo__text {
         display: none;

         @include _Tablet {
            display: block;
         }
      }
   }

   &__search {
      display: none;

      @include _Tablet {
         display: block;
         margin-left: 10px;
      }
   }

   &__hamburger {
      @include _Desktop {
         display: none;
      }
   }

   &__info {
      display: none;
      @include _Desktop {
         display: block;
      }
   }

   &__second-row-search {
      & .search__input {
         max-width: none;
      }
      @include _Tablet {
         display: none;
      }
   }
}

.header-middle-info {
   &__body {
      display: flex;
      gap: 30px;
      align-items: center;
   }

   &__operating-mode {
      display: none;
      @include _Desktop {
         display: block;
      }
   }

   &__contacts {
      display: flex;
      gap: 10px;
      flex-direction: column;
      & .social-media__list {
         gap: 10px;
      }
   }
}

.header-menu {
   display: none;

   &.active {
      display: block;
   }

   @include _Tablet {
      width: 220px;
   }

   @include _Desktop {
      display: block;
      position: static;
      width: auto;
   }
   &__body {
      background-color: cl("grey");
      border-radius: 10px;
   }

   &__list {
      display: flex;
      flex-direction: column;

      @include _Desktop {
         flex-direction: row;
         justify-content: space-between;
      }
   }

   &__item {
      display: flex;
      align-items: center;
      padding: 20px 15px;

      &:first-child {
         padding: 20px;
      }

      &:last-child {
         padding-right: 20px;
      }

      &.has-sub-menu {
         position: relative;

         & .sub-menu {
            display: none;
         }
      }

      &.has-sub-menu.active-sub-menu {
         background-color: #eeeeee;
         display: block;
         transition: all 0.3s ease-in-out;

         & svg {
            transform: rotate(180deg);
            & path {
               fill: cl("grey");
            }
         }
         .sub-menu {
            display: block;
            margin-top: 17px;
            @include _Desktop {
               margin-top: 0px;
               border-top: 10px solid transparent;
            }
         }
      }
   }

   .has-sub-menu.active-sub-menu .header-menu {
      &__link {
         color: cl("grey");
         transition: all 0.3s ease-in-out;
      }
   }

   &__link {
      display: flex;
      align-items: center;
      color: cl("white");
      text-transform: uppercase;
      font-size: rem(14);
      white-space: nowrap;
      gap: 6px;

      @include _Desktop {
         font-size: rem(16);
      }

      &--catalog {
         svg {
            @include _Desktop {
               display: none;
            }
         }
      }
   }

   &__toggle {
      display: none;
      flex-direction: column;
      gap: 5px;
      margin-right: 10px;
      cursor: pointer;
      span {
         width: 18px;
         height: 2px;
         background-color: cl("white");
         display: inline-block;
      }
      @include _Desktop {
         display: flex;
      }
   }

   &__sub-menu {
   }
}

.sub-cat {
   &__item {
      &:not(:last-child) {
         margin-bottom: 10px;
      }
   }

   &__link {
      display: inline-block;
      font-size: rem(14);
      font-weight: 350;
      color: cl("grey");
   }
}
