.header-bottom {
   background-color: cl("white");

   // min-width: 768px
   @include _Tablet {
   }

   // min-width: 992px
   @include _Laptop {
   }

   // min-width: 1024px
   @include _XSDesktop {
   }

   // min-width: 1200px
   @include _Desktop {
   }

   // min-width: 1400px
   @include _LDesktop {
   }

   &__body {
      padding: 10px 0;
   }

   &__btn {
      &.active {
         box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.1);
      }
   }
}
