.header-actions {
   &__body {
      display: flex;
   }

   &__list {
      display: flex;
      align-items: center;
   }

   &__item {
      margin-right: 20px;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 20px;
      height: 20px;

      svg {
         width: 100%;
         height: 100%;
      }

      span {
         display: none;
      }

      // min-width: 768px
      @include _Tablet {
         &:last-child {
            margin-right: 25px;
         }
      }

      // min-width: 992px
      @include _Laptop {
      }

      // min-width: 1024px
      @include _XSDesktop {
      }

      // min-width: 1200px
      @include _Desktop {
         width: auto;
         height: auto;
         text-decoration: none;

         svg {
            flex: 0 0 20px;

            margin-right: 8px;
         }

         span {
            display: block;

            font-weight: 350;
            font-size: rem(14);
            line-height: 110%;

            color: cl("black");
         }
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__btn {
      cursor: pointer;
      padding: 14px 30px;

      background-color: cl("white");

      font-weight: 500;
      color: cl("green");

      border-radius: 100px;

      border: 2px solid cl("green");
   }
}
