.header-middle {
   background-color: #fff;

   &__body {
      padding: 8px 0;

      display: flex;
      align-items: center;

      // min-width: 768px
      @include _Tablet {
      }

      // min-width: 992px
      @include _Laptop {
      }

      // min-width: 1024px
      @include _XSDesktop {
      }

      // min-width: 1200px
      @include _Desktop {
         border-bottom: 1px solid #d4e1b4;
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__hamburger {
      margin-right: 8px;

      // min-width: 768px
      @include _Tablet {
      }

      // min-width: 992px
      @include _Laptop {
         margin-right: 16px;
      }

      // min-width: 1024px
      @include _XSDesktop {
      }

      // min-width: 1200px
      @include _Desktop {
         display: none;
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__btn {
      display: none;

      // min-width: 768px
      @include _Tablet {
         display: block;

         margin-right: 10px;

         .services-btn__body {
            padding: 14px 16px;
         }

         .services-btn__hamburger {
            margin-right: 6px;
         }
      }

      // min-width: 992px
      @include _Laptop {
      }

      // min-width: 1024px
      @include _XSDesktop {
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__actions {
      display: none;
      // min-width: 768px
      @include _Tablet {
         display: block;
         margin-left: auto;
      }

      // min-width: 992px
      @include _Laptop {
      }

      // min-width: 1024px
      @include _XSDesktop {
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__search {
      display: none;

      // min-width: 768px
      @include _Tablet {
         display: block;

         flex: 1 1 auto;

         margin-right: 20px;
      }

      // min-width: 992px
      @include _Laptop {
         margin-right: 30px;
      }

      // min-width: 1024px
      @include _XSDesktop {
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__logo {
      max-width: 97px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
         width: 100%;
         height: auto;
      }

      // min-width: 768px
      @include _Tablet {
         margin-right: 20px;
      }

      // min-width: 992px
      @include _Laptop {
      }

      // min-width: 1024px
      @include _XSDesktop {
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__sm {
      margin-left: auto;

      // min-width: 768px
      @include _Tablet {
         display: none;
      }

      // min-width: 992px
      @include _Laptop {
      }

      // min-width: 1024px
      @include _XSDesktop {
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }
}
