.about-company {
   &__wrapper {
   }

   &__title {
      margin-bottom: 30px;
   }

   &__body {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @include _Tablet {
         gap: 40px;
      }
      img {
         width: 100%;
         object-fit: cover;
         border-radius: 20px;
         display: block;
      }

      @include _Desktop {
         flex-direction: row;
         gap: 130px;
      }
   }

   &__left {
      @include _Desktop {
         flex: 0 0 40%;
      }
   }

   &__right {
   }
}

.ac-left-column {
   &__inner {
      display: flex;
      flex-direction: column;
      align-items: end;

      @include _Tablet {
         flex-direction: row;
         gap: 30px;
         align-items: center;
      }

      @include _Desktop {
         flex-direction: column;
         align-items: start;
         gap: 60px;
      }
   }

   &__img {
      order: 1;
      max-width: 55%;
      width: 100%;

      @include _Tablet {
         order: 0;
         max-width: 100%;
         flex: 0 0 56%;
      }

      @include _Desktop {
         order: 1;
         flex: 1 1 auto;
      }
   }

   &__subtitle {
      font-size: rem(18);
      text-transform: uppercase;
      span {
         color: cl("red");
      }

      @include _Desktop {
         font-size: rem(20);
      }
   }
}
.ac-right-column {
   &__inner {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include _Tablet {
         flex-direction: row;
         gap: 30px;
         align-items: end;
         justify-content: space-between;
      }

      @include _Desktop {
         flex-direction: column;
         align-items: start;
         gap: 80px;
      }
   }

   &__wrap-images {
      position: relative;

      @include _Tablet {
         order: 1;
      }
      @include _Desktop {
         order: 0;
      }
   }

   &__small-img {
      position: absolute;
      top: -158px;
      left: 0;
      max-width: 120px;

      @include _Tablet {
         max-width: 150px;
         right: 0;
         left: auto;
         top: -193px;
      }

      @include _Desktop {
         top: 145px;
         right: -202px;
         width: 170px;
         max-width: 100%;
      }
   }

   &__decor-img {
      position: absolute;
      top: -14%;
      right: -33%;
      width: 90px;

      @include _Tablet {
         width: 107px;
         right: auto;
         left: -15%;
         top: -17%;
      }

      @include _Desktop {
         width: 120px;
         right: -14%;
         left: auto;
      }
   }

   &__static-img {
      max-width: 180px;
      position: relative;

      @include _Tablet {
         max-width: 330px;
      }
      @include _Desktop {
         max-width: 100%;
         width: 370px;
      }
   }

   &__content {
      p {
         margin: 0;
         color: #707070;
         line-height: 1.25;
      }
      @include _Tablet {
         flex: 0 0 calc(50% - 15px);
      }

      @include _Desktop {
         font-size: rem(18);
      }
   }

   &__link {
      margin-top: 30px;

      @include _Tablet {
         margin-top: 40px;
         max-width: 147px;
         padding: 12px 16px;
      }

      @include _Desktop {
         margin: 80px 0 0 auto;
         padding: 14px 20px;
         max-width: 170px;
      }
   }
}
