.main-section-user-profile-info-order {
}
.info-order {
   &__wrapper {
   }

   &__result {
      margin-bottom: 20px;
      // min-width: 1200px
      @include _Desktop {
         margin-bottom: 30px;
      }
      & p {
         font-size: rem(14);
         // min-width: 768px
         @include _Tablet {
            font-size: rem(16);
         }
      }
   }

   &__basic {
   }

   &__title {
      margin-bottom: 20px;
   }

   &__description {
      margin-bottom: 30px;
      @include _Laptop {
         margin-bottom: 40px;
      }

      @include _Desktop {
         margin-bottom: 60px;
      }
   }

   &__billing-address {
   }
}

.basic-info-order {
   &__wrapper {
   }

   &__table {
   }
}
