.section-order-confirm {
}
.order-confirm {
   &__wrapper {
   }

   &__body {
   }

   &__left {
   }

   &__content {
   }

   &__details-order-block {
      margin-bottom: 30px;
      @include _Laptop {
         margin-bottom: 50px;
      }
      @include _Desktop {
         margin-bottom: 60px;
      }
   }

   &__table-block {
      margin-bottom: 30px;
      @include _Laptop {
         margin-bottom: 40px;
      }
      @include _Desktop {
         margin-bottom: 60px;
      }
   }

   &__title {
      margin-bottom: 20px;
   }

   &__billing-address {
   }

   &__right {
      display: none;
      @include _Tablet {
         display: block;
      }
   }
}

.details-order {
   &__list {
      display: flex;
      flex-direction: column;
      gap: 14px;
      @include _Tablet {
         flex-direction: row;
         flex-wrap: wrap;
         gap: 24px;
         row-gap: 20px;
      }
   }

   &__item {
      font-size: rem(14);
      @include _Desktop {
         font-size: rem(16);
      }
      & span {
         font-size: rem(16);
         font-weight: 500;
         margin-bottom: 10px;
         display: block;

         @include _Desktop {
            font-size: rem(18);
         }
      }
   }
}
