.popular-products {
   &__wrapper {
   }

   &__body {
      position: relative;
   }

   &__title {
      // min-width: 768px
      @include _Tablet {
      }

      // min-width: 992px
      @include _Laptop {
         margin-bottom: 30px;
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__swiper {
      // min-width: 768px
      @include _Tablet {
      }

      // min-width: 992px
      @include _Laptop {
         .popular-products__pagination {
            display: none;
         }
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__list {
      // min-width: 768px
      @include _Tablet {
      }

      // min-width: 992px
      @include _Laptop {
      }

      // min-width: 1200px
      @include _Desktop {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         gap: 30px;
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__item {
      &.swiper-slide {
         height: 100%;
      }
   }

   &__pagination {
      margin-top: 30px;
   }

   &__navigation {
      &.swiper-default__navigation {
         display: none;
      }

      // min-width: 768px
      @include _Tablet {
      }

      // min-width: 992px
      @include _Laptop {
         &.swiper-default__navigation {
            display: flex;
         }
      }

      // min-width: 1200px
      @include _Desktop {
         &.swiper-default__navigation {
            display: none;
         }
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }
}
