.row-slider-text {
   padding-top: 0;
   // min-width: 768px
   @include _Tablet {
      padding-top: 25px;
   }
   // min-width: 992px
   @include _Laptop {
      padding-top: 20px;
   }

   // min-width: 1200px
   @include _Desktop {
      padding-top: 30px;
   }

   // min-width: 1400px
   @include _LDesktop {
      padding-top: 45px;
   }

   @include _HDesktop {
   }
   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;
      // min-width: 768px
      @include _Tablet {
         flex-direction: row;
         gap: 45px;
      }
      // min-width: 992px
      @include _Laptop {
         font-size: rem(25);
      }

      // min-width: 1200px
      @include _Desktop {
         gap: 70px;
      }

      // min-width: 1400px
      @include _LDesktop {
         gap: 50px;
      }

      @include _HDesktop {
         gap: 90px;
      }
   }

   &__slider {
      position: relative;
      // min-width: 768px
      @include _Tablet {
         max-width: 37%;
      }

      // min-width: 992px
      @include _Laptop {
         max-width: 41%;
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
         max-width: 43%;
      }
   }

   &__content {
   }

   &__title {
      font-size: rem(25);
      font-weight: 500;
      margin-bottom: 13px;
      // min-width: 768px
      @include _Tablet {
         font-size: rem(20);
      }

      // min-width: 992px
      @include _Laptop {
         font-size: rem(25);
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }
   &__p {
      margin-bottom: 13px;
      font-size: rem(18);
      // min-width: 768px
      @include _Tablet {
         font-size: rem(16);
         margin-bottom: 20px;
      }
      // min-width: 992px
      @include _Laptop {
         font-size: rem(18);
      }
      // min-width: 1200px
      @include _Desktop {
         margin-bottom: 25px;
      }
   }

   &__social {
   }
}

.slider-images {
   &__swiper {
   }

   &__list {
   }

   &__item {
   }

   &__img {
      & img {
         width: 100%;
         height: 100%;
         display: block;
         object-fit: cover;
      }
   }

   &__btn-prev {
      left: -7px;
      @include _Laptop {
         left: -12px;
      }

      @include _Desktop {
         left: -27px;
      }
   }

   &__btn-next {
      right: -7px;

      @include _Laptop {
         right: -12px;
      }

      @include _Desktop {
         right: -27px;
      }
   }
}
