.section-faq {
}

.accordion {
}
.accordion {
   &__f-a-q {
      border-bottom: 1px solid #d4e1b4;
      padding-bottom: 10px;
      // min-width: 992px
      @include _Laptop {
         padding-bottom: 20px;
      }

      &:not(:first-child) {
         padding-top: 10px;
         // min-width: 992px
         @include _Laptop {
            padding-top: 20px;
         }
      }
   }

   &__question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      cursor: pointer;

      & p {
         font-size: rem(14);
         color: cl("black");
         font-weight: 500;
         margin-bottom: 0;
         // min-width: 992px
         @include _Laptop {
            font-size: rem(20);
         }
      }
      & span {
         position: relative;
         width: 30px;
         height: 30px;
         background-color: cl("green");
         border-radius: 100%;
         flex: 0 0 auto;
         // min-width: 992px
         @include _Laptop {
            width: 50px;
            height: 50px;
         }

         &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 14px;
            height: 2px;
            background-color: rgb(255, 255, 255);
            transform: translate(-50%, -50%);
            transition: all 0.3s ease-in-out;
            // min-width: 992px
            @include _Laptop {
               width: 20px;
               height: 3px;
            }
         }
         &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            height: 14px;
            width: 2px;
            background-color: rgb(255, 255, 255);
            transform: translate(-50%, -50%);
            transition: all 0.3s ease-in-out;
            // min-width: 992px
            @include _Laptop {
               height: 20px;
               width: 3px;
            }
         }
         // min-width: 768px
         @include _Tablet {
         }

         // min-width: 1200px
         @include _Desktop {
         }

         // min-width: 1400px
         @include _LDesktop {
         }
      }
   }
   &__answer {
      display: none;

      padding-top: 10px;

      & p {
         margin-bottom: 0;
         font-size: rem(14);
         // min-width: 992px
         @include _Laptop {
            font-size: rem(18);
         }
      }
      & p:not(:last-child) {
         margin-bottom: 20px;
      }
   }
}

.accordion .accordion__question.is-open {
   & span {
      &::before {
         transform: translate(-50%, -50%) rotate(180deg);
      }
      &::after {
         transform: translate(-50%, -50%) rotate(180deg);
         opacity: 0;
      }
   }
}

.accordion__question.is-open + .accordion__answer {
   display: block;
}
