.text-block ul,
.text-block li {
   margin: 0;
   padding: 0;
   list-style: none;
}

.text-block li {
   position: relative;
   padding-left: 25px;
   font-size: rem(14);
   line-height: 1.5;
   &:not(:last-child) {
      margin-bottom: 5px;
   }
   &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 0;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: cl("green");
   }
   // min-width: 768px
   @include _Tablet {
   }

   // min-width: 992px
   @include _Laptop {
      font-size: rem(16);
   }

   // min-width: 1200px
   @include _Desktop {
   }

   // min-width: 1400px
   @include _LDesktop {
   }
}

.text-block {
   &__title {
      margin-bottom: 10px;
      // min-width: 992px
      @include _Laptop {
         margin-bottom: 20px;
      }
   }
}
