.section-blog {
}

.b-grig {
   &__list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
      // min-width: 768px
      @include _Tablet {
         grid-template-columns: repeat(2, 1fr);
         row-gap: 40px;
         column-gap: 30px;
      }

      // min-width: 992px
      @include _Laptop {
         grid-template-columns: repeat(3, 1fr);
         row-gap: 30px;
         column-gap: 20px;
      }

      // min-width: 1200px
      @include _Desktop {
         row-gap: 40px;
      }

      // min-width: 1400px
      @include _LDesktop {
         row-gap: 60px;
         column-gap: 30px;
      }
   }

   &__item {
   }
}
