.social-media-section {
   &__wrapper {
   }

   &__body {
   }

   &__list {
      display: grid;
      gap: 30px;

      // min-width: 768px
      @include _Tablet {
         grid-template-columns: 1fr 1fr;
      }

      // min-width: 992px
      @include _Laptop {
         gap: 20px;
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__item {
   }
}
