.search-page {
   &__body {
   }

   &__label {
      margin-top: 10px;

      font-weight: 500;
      font-size: rem(14);
      line-height: 110%;
   }

   &__list {
      margin-top: 20px;

      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      row-gap: 30px;

      // min-width: 768px
      @include _Tablet {
         grid-template-columns: repeat(3, 1fr);
         gap: 30px;
      }

      // min-width: 992px
      @include _Laptop {
         margin-top: 30px;
      }

      // min-width: 1200px
      @include _Desktop {
         grid-template-columns: repeat(4, 1fr);
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__pagination {
      margin-top: 30px;

      // min-width: 1600px
      @include _HDesktop {
         margin-top: 50px;
      }
   }
}
