.button {
   text-transform: uppercase;
   color: cl("white");
   border-radius: 10px;
   padding: 14px 20px;
   text-align: center;
   display: inline-block;
   font-size: rem(14);
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;

   @include _Laptop {
      font-size: rem(16);
   }

   &--red {
      background-color: cl("red");
   }
   &--sharp {
      border-radius: 0;
   }

   &--grey {
      background-color: cl("grey");
      font-size: rem(16);

      @include _Desktop {
         font-size: rem(18);
      }
   }
}
