.h1 {
   font-size: rem(32);
   font-weight: 400;
   line-height: 1.25;
   text-transform: uppercase;

   span {
      font-weight: 350;
      display: block;
   }

   @include _Tablet {
      font-size: rem(40);
   }

   @include _Desktop {
      font-size: rem(60);
   }
}

.h1--product-detail {
   font-size: rem(22);
   font-weight: 700;
   text-transform: none;
   span {
      font-weight: 350;
   }

   @include _Tablet {
      font-size: rem(22);
   }

   @include _Desktop {
      font-size: rem(24);
   }
}

.h1--small {
   font-size: rem(28);
   text-transform: none;

   @include _Desktop {
      font-size: rem(40);
   }
}
