.rating {
   span {
      display: inline-block;
      width: 17px;
      height: 17px;
      img {
         width: 100%;
      }

      &:not(:last-child) {
         margin-right: 4px;
      }
   }
}
