.breadcrumbs {
   &__body {
      margin-top: 10px;
      margin-bottom: 20px;

      // min-width: 768px
      @include _Tablet {
         margin-top: 20px;
      }

      // min-width: 992px
      @include _Laptop {
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px;
   }

   &__item {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__link {
      font-weight: 350;
      font-size: rem(12);
      line-height: 100%;

      color: rgba(77, 77, 77, 0.5);
   }
}
