.catalog-detail-advantages {
   &__body {
   }

   &__list {
      display: grid;
      gap: 30px;

      // min-width: 768px
      @include _Tablet {
         grid-template-columns: 1fr 1fr;
      }

      // min-width: 992px
      @include _Laptop {
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__item {
      display: flex;

      // min-width: 768px
      @include _Tablet {
         flex-direction: column;
      }

      // min-width: 992px
      @include _Laptop {
      }

      // min-width: 1200px
      @include _Desktop {
         flex-direction: row;
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__icon {
      flex: 0 0 50px;
      margin-right: 12px;

      // min-width: 768px
      @include _Tablet {
         flex: unset;
         max-width: 50px;
      }

      // min-width: 992px
      @include _Laptop {
         max-width: 80px;
      }

      // min-width: 1200px
      @include _Desktop {
         flex: 0 0 80px;
         max-width: unset;
         margin-right: 30px;
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__content {
      // min-width: 768px
      @include _Tablet {
         margin-top: 10px;
      }

      // min-width: 992px
      @include _Laptop {
         margin-top: 20px;
      }

      // min-width: 1200px
      @include _Desktop {
         margin-top: 0;
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__title {
      font-weight: 500;
      font-size: rem(16);
      line-height: 110%;

      // min-width: 768px
      @include _Tablet {
      }

      // min-width: 992px
      @include _Laptop {
         font-size: rem(18);
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__text {
      margin-top: 6px;
      font-size: rem(14);
      line-height: 150%;
      // min-width: 768px
      @include _Tablet {
      }

      // min-width: 992px
      @include _Laptop {
         font-size: rem(16);
         margin-top: 10px;
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }

      a {
         color: inherit;
      }
   }
}
