.catalog-detail-slider {
   &__body {
      // min-width: 768px
      @include _Tablet {
         display: flex;
         gap: 14px;
         align-items: stretch;
         justify-content: stretch;
         overflow: hidden;
         height: 375px;
      }

      // min-width: 992px
      @include _Laptop {
         height: 527px;
      }

      // min-width: 1200px
      @include _Desktop {
         display: block;
         height: unset;
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__main {
      padding: 21px;

      border: 1px solid cl("green", 0.5);

      position: relative;

      // min-width: 768px
      @include _Tablet {
         padding: 28px;
      }

      // min-width: 992px
      @include _Laptop {
         padding: 39px;
      }

      // min-width: 1200px
      @include _Desktop {
         padding: 34px;
         height: 434px;
      }

      // min-width: 1400px
      @include _LDesktop {
         height: 538px;
      }
   }

   &__list {
      display: flex;
      align-items: center;
   }

   &__item {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
   }

   &__thumbs {
      margin-top: 10px;

      // min-width: 768px
      @include _Tablet {
         margin-top: 0;
         height: 100%;
         min-height: 100%;
      }

      // min-width: 992px
      @include _Laptop {
      }

      // min-width: 1200px
      @include _Desktop {
         margin-top: 20px;
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }
}
