.detail-slider-thumbs {
   &__body {
      // min-width: 768px
      @include _Tablet {
         height: 100%;
      }

      // min-width: 992px
      @include _Laptop {
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__swiper {
   }

   &__list {
   }

   &__item {
      border: 1px solid cl("green", 0.5);

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 6px;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }

      &.swiper-slide-thumb-active {
         border: 2px solid cl("green");
         padding: 2px;
      }

      // min-width: 768px
      @include _Tablet {
         width: 82px;
         height: 82px;
      }

      // min-width: 992px
      @include _Laptop {
         width: 86px;
         height: 86px;
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }
}
