.feedback-form {
   background-color: #eee;
   box-shadow: 0px 22px 64px 0px #161c2d31;
   border-radius: 20px;

   &__body {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 30px;

      @include _Desktop {
         padding: 40px;
      }
   }

   &__field {
      color: #000000;
   }

   &__label {
      margin-bottom: 10px;
      display: block;
   }

   &__input {
      line-height: 1;
   }

   &__textarea {
      height: 88px;
      max-width: 100%;

      @include _Tablet {
         max-width: 390px;
      }

      @include _Desktop {
         height: 100px;
      }
   }

   &__policy {
      font-size: rem(12);
      color: #b8b8b8;

      a {
         color: cl("red");
         text-decoration: underline;
      }
   }

   &__btn {
   }
}
