.great-deals {
   &__wrapper {
   }

   &__body {
   }

   &__title {
      margin-bottom: 30px;
      @include _Tablet {
         margin-bottom: 40px;
      }
   }

   &__list {
      display: grid;
      gap: 30px;
      @include _Tablet {
         grid-template-columns: repeat(2, 1fr);
         row-gap: 40px;
         column-gap: 30px;
      }

      @include _Desktop {
         grid-template-columns: repeat(3, 1fr);
         row-gap: 60px;
      }
   }

   &__bottom {
      margin-top: 30px;
      @include _Tablet {
         margin-top: 40px;
      }

      @include _Desktop {
         margin-top: 60px;
      }
   }

   &__link {
      display: block;

      @include _Desktop {
         max-width: 370px;
         margin: 0 0 0 auto;
      }
   }
}
