.image-slider {
   position: relative;
   &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.--desktop {
         display: none;

         @include _Tablet {
            display: block;
         }
      }
      &.--mobile {
         margin-top: 20px;
         @include _Tablet {
            display: none;
         }
      }
   }

   &__prev-d {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;

      @include _LDesktop {
         left: -74px;
      }
   }

   &__next-d {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;

      @include _LDesktop {
         right: -74px;
      }
   }
}
