.pagination {
   &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;

      // min-width: 768px
      @include _Tablet {
      }

      // min-width: 992px
      @include _Laptop {
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__left,
   &__right {
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 100%;
      border: 1px solid cl("black", 0.2);
      flex: 0 0 36px;
      width: 36px;
      height: 36px;

      text-decoration: none;
      color: cl("black");

      transition: 0.2s all;

      &:hover {
         border: 1px solid cl("green");
         color: cl("white");
         background-color: cl("green");
      }

      &.disable {
         color: cl("black", 0.2);

         &:hover {
            border: 1px solid cl("black", 0.2);
            color: cl("black", 0.2);
            background-color: unset;
         }
      }

      // min-width: 768px
      @include _Tablet {
         width: 44px;
         height: 44px;
         flex: 0 0 44px;
      }

      // min-width: 992px
      @include _Laptop {
         width: 54px;
         height: 54px;
         flex: 0 0 54px;
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }
   }

   &__left {
   }

   &__list {
      display: flex;
      align-items: center;
      gap: 8px;
   }

   &__item {
      &:nth-child(3) {
         display: none;
      }

      &.active {
         a {
            background-color: cl("green");
            color: cl("white");
            border: 1px solid cl("green");
         }
      }

      // min-width: 768px
      @include _Tablet {
         &:nth-child(3) {
            display: flex;
         }
      }

      // min-width: 992px
      @include _Laptop {
      }

      // min-width: 1200px
      @include _Desktop {
      }

      // min-width: 1400px
      @include _LDesktop {
      }

      a {
         text-decoration: none;
         color: cl("green");

         border-radius: 100%;
         border: 1px solid cl("black", 0.2);

         font-weight: 500;
         font-size: rem(14);
         line-height: 100%;

         width: 36px;
         height: 36px;
         display: flex;
         align-items: center;
         justify-content: center;

         transition: 0.2s all;

         &:hover {
            background-color: cl("green");
            color: cl("white");
            border: 1px solid cl("green");
         }

         // min-width: 768px
         @include _Tablet {
            width: 44px;
            height: 44px;
            font-size: rem(16);
         }

         // min-width: 992px
         @include _Laptop {
            width: 54px;
            height: 54px;
         }

         // min-width: 1200px
         @include _Desktop {
         }

         // min-width: 1400px
         @include _LDesktop {
         }
      }
   }

   &__right {
   }
}
