.reviews-tile {
   border: 3px solid rgba(51, 51, 51, 0.1);
   padding: 20px;
   border-radius: 20px;

   @include _Desktop {
      padding: 30px;
   }

   &__body {
      display: flex;
      flex-direction: column;
      gap: 20px;
   }

   &__top {
      display: flex;
      justify-content: space-between;
   }

   &__author {
      display: flex;
      gap: 20px;
   }

   &__avatar {
      width: 60px;
      height: 60px;
      img {
         border-radius: 50%;
         width: 100%;
      }
   }

   &__info {
   }

   &__name {
      margin: 0;
      font-weight: 700;
      font-size: rem(20);
      margin-bottom: 10px;
   }

   &__date {
      font-size: rem(14);
      font-weight: 350;
   }

   &__source {
      width: 30px;
      height: 30px;

      @include _Desktop {
         width: 40px;
         height: 40px;
      }
   }

   &__content {
      font-weight: 350;
   }

   &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__rating {
      span {
         display: inline-block;
         width: 17px;
         height: 17px;
         img {
            width: 100%;
         }

         &:not(:last-child) {
            margin-right: 4px;
         }
      }
   }

   &__more {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #b8b8b8;
      font-weight: 350;
      text-decoration: underline;
      cursor: pointer;

      @include _Desktop {
         font-size: rem(18);
      }
   }
}
